/*
Theme Name: Kultur-Culture.ch
Theme URI: http://www.allmeo.com
Description: Le thème par défaut pour Kultur-Culture
Version: 1
Author: MEO
Author URI: http://www.allmeo.com

*/

/* Begin Typography & Colors */
body {
	font-size: 12px; /* Resets 1em to 10px */
	font-family: arial,sans-serif;
	text-align: center;
	background-color: black;
	margin-top: 50px;
	/*overflow: hidden;*/
}

img {
	margin:0;
	padding:0;
	border:none;
}

a, a:visited {
	color: rgb(154,154,154);
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

#container {
	position: relative;
	text-align:left;
	width:968px;
	margin:0px auto;
	z-index: 500;
}

#langSelect {
	text-align: right;
	padding-top: 10px;
	padding-left: 860px;
}

#logo_kultur {
	background: url(images/head.jpg);
	background-repeat:no-repeat;
	filter:alpha(opacity=80)!important;
	opacity:0.8!important;
	width: 968px;
	height:104px;
	margin:4px auto;
	padding:0;
}

#logos {
	position: absolute;
	width: 300px;
	height:40px;
	margin: 4px auto;
	padding: 35px 0 0 660px;
}

#bottom {
	background: url(images/bottom.png);
	background-repeat:no-repeat;
	filter:alpha(opacity=80)!important;
	opacity:0.8!important;
	width: 953px;
	clear: both;
	height: 27px;
	margin-top: 4px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: right;
}

#content {
	width: 968px;
	text-align: left;
	margin-top: 4px;
	margin-right: 15px;
}

#home_left {
	width: 100%;
	height: 100%;
	text-align: left;
	margin-right: 4px;
	float: left;
}

#home_left a div:hover {
	background-color: #94BCC4 !important;
}

#home_left p {
	padding: 0;
	margin-top: 4px;
}

#home_right {
	width: 564px;
	height: 345px;
	text-align: left;
	margin-right: 0px;
	background-color: rgb(255,255,255);
	filter:alpha(opacity=80)!important;
	opacity:0.8!important;
	float: right;
}

#content_page {
	text-align: left;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 30px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: rgb(255,255,255);
	filter:alpha(opacity=80)!important;
	opacity:0.8!important;
}

#breadcrumb {
	padding: 5px;
	padding-left: 20px;
	padding-top: 15px;
	margin-bottom: 10px;
	text-transform: lowercase;
}

#communication {
	background-color: rgb(148, 188, 196);
	filter:alpha(opacity=80)!important;
	opacity:0.8!important;
	padding: 10px;
	margin: 0px;
	margin-top: 4px;
}

.alignleft {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.alignright {
	float: right;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#qtranslate-chooser {
	margin: 0px;
	list-style-type: none;
}

#qtranslate-chooser li {
	width: 20px;
	text-align: right;
	float: left;
}

/*------------------------------------MENU--------------------------------------*/
#menu {
	/* rgba() does not work with IE 7 and 8. Need to set opacity afterwhile */
	background-color: #fff;
	filter:alpha(opacity=80)!important;
	width: 100%;
	height:30px;
	margin:4px auto;
	padding:0;
	padding-top: 0px;
	font-size:14px;
	text-transform: lowercase;
}

* #menu {
	/* rgba() does not work with IE 7 and 8. Need to set opacity afterwhile */
	background-color: rgba(255,255,255, 0.8);
}



	
/*** ESSENTIAL STYLES ***/
.sf-menu,.sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
	color: rgb(214,215,215);
	
}

.sf-menu {
	line-height:1.0;
	float: left;
}

.sf-menu ul {
	margin-left:-1px;
	margin-top:10px;
	position:absolute;
	width:247px;
}

.sf-menu ul li {
	width:247px;
}

.sf-menu li:hover {
	visibility:inherit;
}

.sf-menu li {
	float:left;
	position:relative;
	background:transparent none repeat scroll 0 0;
}

.sf-menu a {
	display:block;
	position:relative;
	padding:8px 15px;
	text-decoration:none;
	font-weight: bold;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left:0;
	top:20px;
	borderl-left: 1px solid rgb(100,100,100);
	z-index: 1000;
}

.sf-menu li a,.sf-menu li a:visited {
	color: rgb(100,100,100);
}

.sf-menu li a:hover {
	color: black;
	background-color: #94bcc4;
}

.sf-menu li ul li a {
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;
	background-color: rgb(214,214,215);
}

* html .sf-menu li ul li a,* html .sf-menu li ul li a:visited {
	background-color:#D6D7D7!important;
	color: rgb(200,200,200);
	filter:alpha(opacity=100)!important;
	opacity:1!important;
}

*+html .sf-menu li ul li a,* html .sf-menu li ul li a:visited {
	background-color:#D6D7D7!important;
	color: #646464;
	filter:alpha(opacity=100)!important;
	opacity:1!important;
}

.sf-menu li ul li a:hover {
	background-color: #94bcc4!important;
	color: black;
	filter:alpha(opacity=100);
	opacity:1;
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;
}

* html .sf-menu li ul li a:hover {
	background-color:#94bcc4!important;
	filter:alpha(opacity=100);
	opacity:1;
}

*+html .sf-menu li ul li a:hover {
	background-color:#94bcc4!important;
	filter:alpha(opacity=100);
	opacity:1;
}

.sf-menu li li {
	text-align:left;
	border-bottom:1px solid white;
}

.sf-menu li li:last-child {
	text-align:left;
	border-bottom:none;
}

.sf-menu li li:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
	
/*------------------------------------END MENU----------------------------------*/

